.shop-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  .bottom-content {
    display: flex;
    height: px2rem(50px);
    background-color: rgba(51, 51, 51, 0.9);
  }
  .shop-icon {
    width: px2rem(56px);
    height: px2rem(56px); 
    background-image: url("./img/shop-icon.png");
    background-size: cover;
    margin-top: px2rem(-15px);
    margin-left: px2rem(12px);
    position: relative;
  } 
  .price-content {
    flex: 1;
    padding-top: px2rem(8px);
    padding-left: px2rem(7px);
  }
  .total-price {
    font-size: px2rem(20px);
    color: #fff;
  }
  .other-price {
    font-size: px2rem(12px);
    color: #999;
    margin-top: px2rem(2px);
  }
  .dot-num {
    position: absolute;
    background-color: #fb4e44;
    width: px2rem(15px);
    height: px2rem(15px);
    font-size: px2rem(12px);
    color: #fff;
    border: 1px solid #fff;
    top: 2px;
    right: 0;
    border-radius: 50%;
    text-align: center;
    line-height: px2rem(16px);
    &.active{
      width: auto;
      padding:0 px2rem(6px);
      border-radius: px2rem(10px);
      right: px2rem(-10px);
    }
  }
  .submit-btn {
    width: px2rem(110px);
    height: 100%;
    background-color: #ffd161;
    color: #333;
    font-size: px2rem(16px);
    line-height: px2rem(50px);
    text-align: center;
  }
}
